/* Place custom CSS styling for FloatingMarkers widget at runtime in this file */

.widget-floatingmarkers {

}

.circleold {
  
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background: blue
}

.clickedold {
    text-decoration:underline;
    background: red
}

.circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: #bbb;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.clicked {
  border: 3px solid red;
  text-decoration:underline;
}
